/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background: url(/assets/bground.jpeg);
  background-size: cover;
}

#main {
  margin-top: 15%;
}

#main h1 {
  font-size: 1000%;
}

#bullshit_form {
  margin-top: 5%;
}

#bullshit_zone {
  margin-top: 2%;
  font-size: 25px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}
