<!DOCTYPE html>
<html>
<head>
  <title>Need an Idea?</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main" class="row-fluid text-center">
  <h1>Need an Idea?</h1>
  <div>
    <%= yield %>
  </div>
</div>

</body>
</html>
